@mixin button() {
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px 18px;
  color: #363636;
  background: none;
  outline: 0;

  &:hover {
    border-color: #909090;
  }

  &:active {
    border-color: #686868;
  }

  &:focus {
    border-color: #3273dc !important;
    box-shadow: 0 0 0 2px #b5c6e0;
  }
}