@mixin input($type: "default") {
  display: inline-flex;
  width: 100%;
  padding: 0.8em 1em;
  line-height: 1.6;
  outline: 0;
  -webkit-appearance: none;
  border-radius: 4px;

  @if ($type == "pure") {
    border: none;
    background: #fafafa;
  } @else {
    border: 1px solid #808080;
    &:focus {
      border-color: #0070c9;
      box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
    }
  }
}

@mixin textarea($type: "default") {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 1em;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 4px;
  resize: none;
  @if ($type == "pure") {
    border: none;
    background: #fafafa;
  } @else {
    border: 1px solid #808080;

    &:focus {
      border-color: #0070c9;
      box-shadow: 0 0 0 2px rgba(50, 115, 220, 0.25);
    }
  }
}
